<!DOCTYPE html>
<html ng-app="myApp">

  <head>
  </head>

  <body>
    <h1>Publish Subscribe Demo</h1>
    <p>Click on Transmit to send a message</p>
    
    <div ng-controller="PublisherCtrl">
        <h2>PublisherCtrl</h2>
        <a ng-click="publish()">Transmit!</a>
    </div>
    
    <div ng-controller="Subscriber1Ctrl">
        <h2>Subscriber1Ctrl</h2>
        <a ng-click="subscribe()">subscribe!</a>
        <a ng-click="unsubscribe()">unsubscribe!</a>
        <p>You're having: {{message1}}</p>
    </div>
    
    <div ng-controller="Subscriber2Ctrl">
        <h2>Subscriber2Ctrl</h2>
        <p>You're having: {{message2}}</p>
    </div>
    
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../dist/angular-ms.js"></script>
    <script src="app.js"></script>
  </body>

</html>
